.login {
  width: 380px;
  display: flex;
  flex-direction: column;
  .title {
    margin: 1rem 0;
    font-size: 3rem;
  }
  .subtitle {
    font-size: 2rem;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
